<!DOCTYPE html>
<html lang="pt-BR" ng-app="myApp">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Workout Log</title>

	<!-- Bibliotecas CSS  -->
	<link href="css/icon.css" type="text/css" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body ng-controller="workoutController">
		<header class=" no-pad-bot">
			<div class="container">
				<!-- Título da página -->
				<h1 class="header center orange-text">Workout Log</h1>
			</div>
		</header>
		<hr>
		<div class="container">
			<!-- Início da Section -->
			<section class="section">
				<div class="row"><!-- Abre row principal -->
					<div class="col s12 m4"><!-- Classes para recursos reponsivos -->
						<div class="row"><!-- Abre row secundária -->
							<div class="col s12 m12">
								<h3>Exercise data</h3>
								<hr>
								<div class="card-panel"><!-- Abre panel de formulário -->
									<form>
										<div class="row">
											<div class="input-field col s12">
												<!-- Input de type number que recebe no mínimu 1 e no máximo 6 horas de exercício a partir do ng-model="item.hoursList" -->
												<input type="number" id="number" name="hours" ng-model="item.hoursList" placeholder="Time spent" class="validate" min="1" max="6" ng-required="true">
												<label for="number">Work Hours</label>
												<!-- Validações -->
				                                <p ng-show="form.hours.$error.min">The minimum amount of hours 1.</p>
				        						<p ng-show="form.hours.$error.max">The maximum amount of hours 6.</p>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<!-- Input select dinâmina que recebe o nome do exercício praticado -->
												<select name="timeSpent" ng-model="item.timeSpent" ng-options="x for x in exercises" class="browser-default">
													<option value="" disabled selected>Your exercises</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<!-- Input de type date que recebe a data do exercício praticado -->
												<label for="date">Date your exercises</label>
												<input type="date" id="date" name="date" ng-model="item.dataList" min="{{date | date: 'dd/MM/yyyy'}}" ng-required="true" class="datepicker">
												<!-- Validações -->
												<p ng-show="form.date.$error.required">The minimum amount of hours 1.</p>
				        						<p ng-show="form.hours.$error.date">The maximum amount of hours 6.</p>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12 m3">
												<!-- Botão responsável por enviar os valores -->
												<a class="btn-floating btn-large waves-effect waves-light red" ng-disabled="form.$invalid" ng-click="addList(item)">
													<i class="material-icons">add</i>
												</a>
											</div>
											<div class="col s12 m9">
												<!-- Validações -->
												<blockquote ng-show="!form.$valid">All fields must be filled in!</blockquote>
											</div>
										</div>
									</form>
								</div><!-- Fecha panel de formulário -->
							</div>
						</div><!-- Fecha row secundária -->						
					</div>

					<div class="col s12 m4">
						<h3>Informations</h3><!-- Sub título, área de informações -->
						<hr>
						<div class="collection">
							<!-- Área de informações, como por exemplo o total de horas dos exercícios inseridos -->
							<a href="#" class="collection-item"><strong>Total amount of hours:</strong>&nbsp;<span class="new badge" data-badge-caption="" ng-show="totalHours > 0">{{totalHours}}</span></a>
							<a href="#" class="collection-item">Added Items:&nbsp;<span class="new badge" data-badge-caption="" ng-show="add > 0">{{add}}</span></a>
							<a href="#" class="collection-item">Selected Items:&nbsp;<span class="new badge" data-badge-caption="" ng-show="count > 0">{{count}}</span></a>
							<a href="#" class="collection-item">Items removed:&nbsp;<span class="new badge" data-badge-caption="" ng-show="excluir > 0">{{excluir}}</span></a>
						</div>
					</div>
                  
					<div class="col s12 m4">
						<h3>List your works</h3><!-- Sub título, área de exercício inseridos -->
						<hr>
						<table class="bordered striped highlight centered responsive-table" ng-show="add > 0">
							<!-- Tabela de exercícios -->
							<thead>
								<tr>
									<th></th>
									<th>Time</th>
									<th>Type</th>
									<th>Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- Cada item inserido é representado nas linhas abaixo -->
								<tr ng-repeat="item in list">
									<td>
										<input type="checkbox" id="check{{item.id}}" ng-model="item.selected"/><!-- Checkbox para validar e previnir uma remoção indevida -->
										<label for="check{{item.id}}"></label>
      								</td>
									<td>{{item.hours}}h</td><!-- Info horas -->
									<td>{{item.exercise}}</td><!-- Info exercício -->
									<td>{{item.data | date: 'dd/MM/yyyy'}}</td><!-- Info data -->
									<td>
										<a class="waves-effect waves-light btn red" ng-click="remove(item.id, item.hours)" ng-disabled="!item.selected"><!-- Botão de remoção -->
											<i class="material-icons">delete</i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!-- Fecha row principal -->
			<!-- Fim da Section -->
			</section>
		</div>
		<!-- Bibliotecas JS -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>